* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

#root {
  display: grid;
  grid-template-rows: 1fr 3fr;
  grid-auto-rows: 50px;
  grid-gap: 2px;
  width: 602px;
  background-color: #48494a;
  box-shadow: 0 0 10px 2px #999;
  border: 2px solid #48494a;
  border-radius: 10px;
}

.interface {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-auto-rows: 50px;
  grid-gap: 2px;
}

.display {
  border-radius: 10px 10px 0px 0px;
  color: #eee;
  font-size: 40px;
  padding: 10px;
  text-align: right;
}

.display_light {
  background-color: #eee;
  color: #111;
}

.interface__theme {
  grid-column: 1 / 5;
  display: grid;
  grid-template-columns: 1fr 3fr;
  background-color: rgba(85, 85, 85, 0.644);
  color: #eee;
  text-align: center;
}

.interface__theme_light {
  background-color: #bbb;
  color: #111;
}

#radioBtns {
  display: flex;
  align-items: center;
  justify-content: center;
}

.radio-input {
  visibility: hidden;
}

#radioBtns label::before {
  content: "";
  display: inline-block;
  height: 12px;
  width: 12px;
  margin: 0 10px;
  border: 2px solid #eee;
  border-radius: 3px;
  vertical-align: baseline;
  box-sizing: border-box;
}

input[type="radio"]:checked + label::before {
  background: rgba(255, 166, 0, 0.959);
}

#radioBtns label {
  margin-right: 15px;
}

.interface__theme:nth-child(1) div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.interface :nth-child(34) {
  grid-column: 5 / 7;
}

.interface :nth-child(36) {
  border-radius: 0 0 10px 0;
}

.interface :nth-child(30) {
  border-radius: 0 0 0 10px;
}

.btn {
  border: none;
  cursor: pointer;
  font-size: large;
  background-color: #5a5b5c;
  color: #eee;
  transition: 0.5s ease;
  font-family: "Roboto", sans-serif;
}

.btn_light {
  background-color: #ccc;
  color: #111;
}

.btn:hover {
  opacity: 0.8;
}

.btn__num {
  font-size: x-large;
  background-color: #757677;
}

.btn__num_light {
  background-color: #eee;
  color: #111;
}

.btn__main {
  font-size: x-large;
  background-color: #f1a23b;
}

.active {
  background-color: #eee;
  color: rgba(255, 166, 0, 0.959);
}
